/************* header **************/

.breadcrumb-item + .breadcrumb-item::before {
    color: darkgrey;
 }


/************* body **************/

body {
    background: no-repeat fixed;
    background-color: #f4f5f7;
    background-size: cover;
    height: 100%;
}

#carouselwithimages {
    max-height: 87vh !important;
    width: fit-content !important;
    overflow: hidden !important;
}

.m-default {
    margin-top: 3% !important;
    margin-bottom: 20% !important;
}


/************* Footer **************/
