/************* HEADER **************/

#logo-brand,
#name-brand {
    display: block;
    float: left;
}

#logo-brand {
    height: 100px;
    margin-left: 10px;
    animation: girar infinite 10s linear;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#name-brand {
    margin: 20px;
    height: 50px;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: darkgrey;
}

.avatar {
    height: 40px;
    width: auto;
}

/************* BODY **************/

body {
    background-color: #e0e0e0;
    height: 100%;
}

.carousel,
.carousel-inner {
    height: 78vh !important;
}

.banner-altura-78 {
    height: 78vh;
    width: 100vw;
}

.m-default {
    margin-top: 3% !important;
    margin-bottom: 20% !important;
}

.m-min {
    margin-top: 1% !important;
    margin-bottom: 2% !important;
}

#video {
    width: 100%;
    max-width: max-content;
    height: auto;
}

#card-intro{
    height: 500px;
    width: 100%;
}

.bg-fixed {
    width: 100vw;
    height: auto;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-brand {
    width: auto;
    height: 250px;
}

/********** PROFILE **********/

.emp-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}

.profile-img {
    text-align: center;
}
.profile-img img {
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5 {
    color: #222;
}
.profile-head h6 {
    color: #ae1010;
}
.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating {
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs {
    margin-bottom: 5%;
}
.profile-head .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #0062cc;
}
.profile-work {
    padding: 14%;
    margin-top: -15%;
}
.profile-work p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul {
    list-style: none;
}
.profile-tab label {
    font-weight: 600;
}
.profile-tab p {
    font-weight: 600;
    color: #0062cc;
}

/************ FORM SWITCHER **********/

.switcher {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switcher input {
    opacity: 0;
    width: 0;
    height: 0;
}

.sliderer {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.sliderer:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .sliderer {
    background-color: #2196f3;
}

input:focus + .sliderer {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .sliderer:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.sliderer.rounder {
    border-radius: 34px;
}

.sliderer.rounder:before {
    border-radius: 50%;
}

/************* FOOTER **************/
